@use '../../_css/common.scss' as *;
@import '../../_css/type.scss';

.productHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
  margin-top: 20px;

  @include small-break {
    grid-template-columns: 1fr;
  }
}

.mediaWrapper {
  position: relative;
  min-height: 400px;
  // background-color: var(--color-dark-50);

  @include small-break {
    min-height: 250px;
  }
}

.mediaGlassWrapper {
  position: relative;
  min-height: 120px;

  @include small-break {
    min-height: 250px;
  }
}

.mediaGlassWrapper img {
  padding: 0 10px;
}

.image {
  padding: 24px;
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 100%;
}

.buttonRequest {
  width: 100%;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  background-color: transparent;
  text-decoration: none;
  display: inline-flex;
  padding: 10px 24px;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  border-radius: 10px;
  background-color: #dc2626;
  color: var(--theme-elevation-0);
}

.form {
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
  align-items: flex-start;
  width: 100%;

  @include mid-break {
    width: 100%;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--base);
}