@use '../../../_css/queries.scss' as *;

.headerBanner {
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 20px;
    max-height: 40px;
    color: #fff;
    background-color: #dc2626;
    padding-top: 10px;
    padding-bottom: 10px;

    span {
        font-size: 15px;
        font-weight: 500;
    }

    .closeButton {
        position: absolute;
        right: 2%;
        top: 8px;
        background: none;
        border: none;
        cursor: pointer;

        @include small-break {
            top: 3px;
            right: 4%;
        }
    }

    @include small-break {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}