@use '../../../_css/common.scss' as *;

.container {
  margin-top: 50px;
  width: 100%;

  @include small-break {
    margin-top: 30px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
  gap: 30px;
  width: 100%;
  margin-top: 30px;

  @include mid-break {
    gap: 20px;
  }

  @include small-break {
    grid-template-columns: 100%;
  }
}